/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #f5f3c1;
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(216, 38, 38);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
p {
  color: #f5f3c1;
}

.about,
.education,
.skills,
.project,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.education .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;

  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #fff;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;

  width: 100%;
  z-index: 900;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #5379eb;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: #5379eb;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: rgb(0, 0, 0);
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0px);
  color: rgb(242, 252, 241);
}
.menu:hover li a {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(2px);
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #5379eb;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;
  background: url("images/wallhaven-75226.jpg") no-repeat center;
  background-color: #111;
  height: 50vh;
  width: 100%;
  color: rgb(243, 243, 243);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

/* body {
  font-family: "Roboto";
  background-color: #131417;
} */
.container p {
  text-shadow: 0 0 7px rgba(236, 228, 228, 0.3),
    0 0 3px rgba(245, 235, 235, 0.3);
  color: rgb(238, 158, 9);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #20a7d8;
}
.second div {
  background-color: #cd921e;
}
.third div {
  background-color: #c10528;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

/* resume button */

#resume-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
#resume-btn:hover {
  background-color: #09e410;
}
/* about section styling */
.about {
  background-color: #3c486b;
  margin-bottom: 0px;
}
.about .title::after {
  background: #3c486b;
  content: "who i am";
}
.about .about-content .left {
  width: 35%;
}
.about .about-content .left img {
  height: 420px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
  border-radius: 50%;
}
.about .about-content .right {
  width: 60%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: #5379eb;
}
.about .about-content .right p {
  text-align: justify;
  color: #f5f3c1;
}
.about .about-content .right a {
  display: inline-block;
  background: #f5f3c1;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid#f5f3c1;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: rgb(255, 255, 255);
  background: none;
}
.bubble {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #5379eb;
  display: inline-block;
  margin: 10px;
  animation: scaling 2s ease-in-out infinite;
}
@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
    background-color: rgb(255, 0, 0);
  }
  50% {
    transform: scale(1);
    background-color: #5379eb;
  }
}
.bubble:nth-child(0) {
  animation-delay: 0s;
}
.bubble:nth-child(1) {
  animation-delay: 0.2s;
}
.bubble:nth-child(2) {
  animation-delay: 0.4s;
}
.bubble:nth-child(3) {
  animation-delay: 0.6s;
}
.bubble:nth-child(4) {
  animation-delay: 0.8s;
}
.bubble:nth-child(5) {
  animation-delay: 1s;
}
.bubble:nth-child(6) {
  animation-delay: 1.2s;
}

/* education section styling */
.education {
  color: #f5f3c1;
  background: #3c486b;
  margin-top: -100px;
}
.project {
  color: #f5f3c1;
  background: #3c486b;
}

.education .serv-content .card {
  width: calc(33% - 20px);
  background: #5379eb;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 280px;
}
.education .serv-content .card:hover {
  background: #f5f3c1;
}
.education .serv-content .card .box {
  transition: all 0.3s ease;
}
.education .serv-content .card:hover .box {
  transform: scale(1.05);
}
.education .serv-content .card i {
  font-size: 50px;
  color: #f7ebeb;
  transition: color 0.3s ease;
}
.education .serv-content .card:hover i {
  color: #050505;
}
.education .serv-content .card:hover div,
p {
  color: #020202;
}
.education .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* skills section styling */

.skills-images img {
  height: 30px;

  background-color: rgb(232, 236, 232);
  width: calc(80% - 10px);
  /* object-fit: cover; */
  border-radius: 5%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding-left: 15px;
  padding-right: 15px;
  /* border: 1px solid black; */
  transition: all 0.3s ease;
}
.skills .title::after {
  content: "what i know";
  background: #3c486b;
}

/* skills right column */
.skills {
  background: #3c486b;
  height: auto;
}
.skills .skills-content .column {
  width: 100%;
  /* border: 2px solid black; */
  margin-left: 3%;
  height: 60vh;
  display: grid;

  grid-template-columns: repeat(6, 1fr);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: rgb(15, 129, 5);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid#f5f3c1;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: #f5f3c1;
  background: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #f5f3c1;
}
.skills-content .right .html::before {
  width: 90%;
}
.skills-content .right .css::before {
  width: 60%;
}
.skills-content .right .js::before {
  width: 80%;
}
.skills-content .right .php::before {
  width: 50%;
}
.skills-content .right .mysql::before {
  width: 70%;
}

/* project section styling */
.carousel {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  margin: 0 -10px;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 0 10px;
}

.project .title::after {
  background-color: #3c486b;
  content: "see my work";
}
.project .carousel .card {
  background: #5379eb;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 720px;
}
.project .carousel .card:hover {
  background: rgb(200, 201, 198);
}
.project .carousel .card:hover div {
  color: #020202;
}
.project .carousel .card .box {
  display: flex;
  height: 85%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.project .carousel .card .box p {
  width: 100%;
  text-align: justify;
  height: 50%;
}
.project .carousel .card:hover .box {
  transform: scale(1.05);
}
.project .carousel .card:hover .box img {
  height: 220px;
}
.project .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  height: 15%;
  margin: 10px 0 7px 0;
}

.repo-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  margin-top: 25%;
  margin-bottom: 0px;
  /* border: 2px solid wheat; */
}

.repo-div {
  background-color: #3c486b;
  display: flex;
  width: 37%;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

.demo-div {
  background-color: #3c486b;
  display: flex;
  width: 37%;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}
.repo-links {
  text-decoration: none;
  color: rgb(250, 244, 245);
}
.repo-links :hover {
  background-color: #745cfc;
  color: rgb(17, 19, 18);
}
.project .carousel .card img {
  height: 29%;
  width: 95%;
  margin-top: 10%;

  object-fit: cover;
  border-radius: 5%;
  border: 5px solid#f5f3c1;
  transition: all 0.3s ease;
}
.project .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid rgb(241, 237, 238) !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: rgb(255, 249, 250) !important;
}

/* contact section styling */
.contact {
  background: #3c486b;
  color: #fff;
}
/* .contact .title::after {
  content: "---get in touch---";
  background: #111;
  color: #fff;
} */
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #5379eb;
}
.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info a,
.contact .contact-content .info a:link {
  text-decoration: none;
  color: #5379eb;
}
.contact .contact-content .info a:hover,
.contact .contact-content .info p:hover {
  color: rgb(233, 247, 230);
}

.contact .contact-content .info .sub-title {
  color: #5379eb;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
/* .column-left{
  display: flex;
} */
#ui {
  width: 90%;
  height: 80%;
  margin: auto;
}
/* emailo */

.contact .row form {
  flex: 1 1 55rem;
  background: #fff;
  padding: 0 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

#email_div {
  width: 99%;
  margin-left: 1%;
  height: auto;
  align-items: center;
  margin: auto;
  box-shadow: #5379eb 0px 3px 8px;
}
form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
form > div > input {
  background-color: #a7baf1;
  border: 0.6px solid gray;
  width: 49%;
  height: 50px;
  padding-left: 2%;
}

form > #subject {
  background-color: #a7baf1;
  border: 0.6px solid gray;
  margin-top: 1%;
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 2%;
  color: #020202;
}
form > #msg {
  background-color: #a7baf1;
  border: 0.6px solid gray;
  margin-top: 1%;
  display: block;
  width: 100%;
  color: #020202;
  padding-left: 2%;
  padding-top: 1%;
}
#email_btn {
  height: 30px;
  width: 100px;
  background-color: green;
  border-radius: 10px;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
}
#email_btn:hover {
  background-color: rgb(207, 6, 6);
}

/* footer section styling */
footer {
  background: #5379eb;
  padding: 15px 23px;
  color: #070707;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
footer span {
  color: #bd2802;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
#home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Set the margin and padding of the home content */
.home-content {
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}
#newhome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

te #resume-btn {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  /* For smaller screens */
  #resume-btn {
    margin-top: 70px;
  }
  .container {
    font-size: 1.2rem;
  }
  .education .serv-content .card {
    height: 300px;
  }
}

/* #resume {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 5px;
} */

/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
  /* .skills .skills-content .column {
    margin-left: 8%;
     grid-template-columns: repeat(4, 1fr);
   } */
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .skills .skills-content .column {
    margin-left: 8%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 60px auto 0;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .education .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .skills .skills-content .column {
    margin-left: 8%;
    grid-template-columns: repeat(3, 1fr);
  }
  .text {
    margin-top: 2%;
  }
  .contact .title::after {
    margin-top: 2%;
  }
  #home {
    flex-direction: row;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .education .serv-content .card {
    width: 100%;
  }
  .contact .title::after {
    margin-top: 2%;
  }
  .skills .skills-content .column {
    margin-left: 8%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .skills .skills-content .column {
    margin-left: 8%;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
  .contact .title::after {
    margin-top: 2%;
  }
}

#githubCal,
#gitstatus {
  background: #3c486b;
  padding-left: 2rem;
  padding-right: 2rem;
  /* padding-bottom: -50px; */
  margin-bottom: -3%;
  color: #f5f3c1;
  margin-top: -150px;
}

#gitHead,
#github-status {
  text-align: center;
  margin-bottom: 2%;
  color: #3c486b;
  position: relative;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}
#githubCal div {
  color: #f5f3c1;
  box-shadow: #3c486b 0px 4px 16px, #3c486b 0px 8px 32px;
}

/* For screens smaller than 768px */
@media (max-width: 550px) {
  .carousel {
    flex-wrap: nowrap;
  }

  .card {
    flex: 0 0 calc(100% - 20px);
  }
}
@media (min-width: 551px) and (max-width: 820px) {
  .carousel {
    flex-wrap: nowrap;
  }

  .card {
    flex: 0 0 calc(50% - 20px);
  }
  .project .carousel .card {
    height: 900px;
  }
}
@media (min-width: 821px) and (max-width: 1130px) {
  .carousel {
    flex-wrap: nowrap;
  }

  .card {
    flex: 0 0 calc(45% - 20px);
  }
}
